each n in noticias
	div.row.conteudo-noticia
		a(href=n.link[0])
			img.img-thumbnail.col-xs-4.col-sm-4.col-md-4.col-lg-4(src=n['media:thumbnail'][0].$.url)
		div.col-xs-8.col-sm-8.col-md-8.col-lg-8
			a(href=n.link[0])
				h3= n.title[0]
			p= n.description
